.topo {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    z-index: 10;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 60px; 
}

.logo-area img {
    width: 300px;
    margin-top: 0;
}

.logo-area h2 {
    font-size: 18px;
    margin: 0;
    margin-top: 50px;
    padding-right: 20px;
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    gap: 30px;
    margin-right:150px;
    margin-top: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 5000x;
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
}

.menu a:hover {
    color: #a5d6a7;
}

.capa {
    height: 70vh;
    background-image: url("../img/campus.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    position: relative;
}

.capa::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(46, 125, 50, 0.7);
}

.capa-text {
    color: white;
    position: relative;
    z-index: 1;

}

.capa-text h1 {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.destaque-verde {
    background-color: #a5d6a7;
    color: #1b5e20;
    padding: 8px 20px;
    border-radius: 30px;
}

.destaque-borda {
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 50px;
}


.capa-text p {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

/* conteudo abaixo */
.conteudo {
    background-color: #ffffff;
    padding: 70px 25px;
    max-width: 1000px;
    margin: -60px auto 50px auto; 
    text-align: center; 
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.conteudo h2 {
    color: #2e7d32; /* usem sempre esse verde - verde do projeto */
    margin-bottom: 20px;
    font-size: 28px;
}

.conteudo p {
    color: #444;
    line-height: 1.7;
    margin-bottom: 15px;
}

.secao-cursos {
    padding: 80px 40px;
    background-color: #f5f5f5;
    text-align: center;
}

.secao-cursos h2 {
    color: white;
    background-color: #2e7d32;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitulo {
    color: #2e7d32;
    margin-bottom: 50px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-conteudo {
    padding: 20px;
}

.card h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
}


.btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #1b5e20;
}


.card:hover {
    transform: translateY(-8px);
    background-color: #c7e4c8;
}

.mapa {
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.mapa h2 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.rodape {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

.conteudo-rodape p {
    margin: 5px 0;
    font-size: 14px;
}

.links-rodape {
    margin-top: 10px;
}

.links-rodape a {
    color: #ddd;
    margin: 0 10px;
    text-decoration: none;
}

.links-rodape a:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-voltar {
    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn-voltar:hover {
    background-color: #2e7d32;

}

.tag {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.novo {
    background: #2e7d32;
}

.popular {
    background: #2e7d32;

}