

.pagina-curso{
max-width:1100px;
margin:30px auto;
padding:20px;
}

.hero{
background:
linear-gradient(rgba(47,158,65,.85),rgba(47,158,65,.85)),
url("{{ url_for('static', filename='img/vestuario.jpg') }}");

background-size:cover;
background-position:center;

padding:90px 30px;
border-radius:20px;
color:white;
text-align:center;
}

.bloco{
background:white;
padding:30px;
margin-top:30px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

iframe{
width:100%;
height:450px;
border:none;
border-radius:12px;
}

.galeria{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.galeria img{
width:100%;
height:180px;
object-fit:cover;
border-radius:12px;
}

