{% extends 'base.html' %}

{% block title %}Vestuário{% endblock %}

{% block content %}

<a href="/cursos" class="btn-voltar">← Voltar para cursos</a>

<link rel="stylesheet" href="{{ url_for('static', filename='css/vestuario.css') }}">


<main class="pagina-curso">

<section class="hero">

<h1>Vestuário</h1>

<p>
Moda, design e produção.
</p>

</section>

<section class="bloco">

<h2>Sobre</h2>

<p>
Curso voltado para desenvolvimento de peças e moda.
</p>

</section>

<section class="bloco">

<h2>Vídeo</h2>

<iframe
src="https://www.youtube.com/embed/-XT-14RBen4"
title="Vídeo do Curso Vestuário"
frameborder="0"
allowfullscreen>
</iframe>   

</section>

<section class="bloco">

<div class="galeria">

<img src="{{ url_for('static', filename='img/vestuario.jpg') }}">
<img src="{{ url_for('static', filename='img/campus.jpg') }}">
<img src="{{ url_for('static', filename='img/vestuario.jpg') }}">

</div>

</section>

</main>

{% endblock %}