{% extends 'base.html' %}

{% block title %}Têxtil{% endblock %}

{% block content %}

<a href="/" class="btn-voltar">← Voltar para início</a>

<link rel="stylesheet" href="{{ url_for('static', filename='css/textil.css') }}">

<main class="pagina-curso">

<section class="hero">
<h1>Têxtil</h1>
<p>Conheça laboratórios, práticas e experiências.</p>
</section>

<section class="bloco">

<h2>Sobre</h2>

<p>
Curso voltado para produção industrial e materiais têxteis.
</p>

<div class="info">

<div class="caixa">4000h</div>

<div class="caixa">Indústria</div>

<div class="caixa">Produção têxtil</div>

</div>

</section>

<section class="bloco">

<h2>Vídeo</h2>

<iframe
src="https://www.youtube.com/embed/y_4JEZ1Kx2M"
title="Vídeo do Curso Têxtil"
frameborder="0"
allowfullscreen>
</iframe>   

</section>

<section class="bloco">

<div class="galeria">

<img src="{{ url_for('static', filename='img/textil.jpg') }}">
<img src="{{ url_for('static', filename='img/campus.jpg') }}">
<img src="{{ url_for('static', filename='img/textil.jpg') }}">

</div>

</section>

<section class="bloco vagas-curso">

    <h2>Vagas relacionadas ao curso</h2>

    {% for vaga in vagas %}

        <div class="vaga-card">
            <h3>
                {{ vaga['titulo'] }}
            </h3>

            <p>
                <strong>Empresa:</strong>
                {{ vaga['empresa'] }}
            </p>

            <p>
                <strong>Descrição:</strong>
                {{ vaga['descricao'] }}
            </p>

            <p>
                <strong>Requisitos:</strong>
                {{ vaga['requisitos'] }}
            </p>

            <p>
                <strong>Contato:</strong>
                {{ vaga['contato'] }}
            </p>
        </div>

    {% else %}

        <p>
            Ainda não há vagas relacionadas a este curso.
        </p>

    {% endfor %}

</section>

</main>

{% endblock %}