{% extends 'base.html' %}

{% block title %}Têxtil{% endblock %}

{% block content %}

<a href="/cursos" class="btn-voltar">← Voltar para cursos</a>

<link rel="stylesheet" href="{{ url_for('static', filename='css/textil.css') }}">

<main class="pagina-curso">

<section class="hero">
<h1>Têxtil</h1>
<p>Conheça laboratórios, práticas e experiências.</p>
</section>

<section class="bloco">

<h2>Sobre</h2>

<p>
Curso voltado para produção industrial e materiais têxteis.
</p>

<div class="info">

<div class="caixa">4000h</div>

<div class="caixa">Indústria</div>

<div class="caixa">Produção têxtil</div>

</div>

</section>

<section class="bloco">

<h2>Vídeo</h2>

<iframe
src="https://www.youtube.com/embed/y_4JEZ1Kx2M"
title="Vídeo do Curso Têxtil"
frameborder="0"
allowfullscreen>
</iframe>   

</section>

<section class="bloco">

<div class="galeria">

<img src="{{ url_for('static', filename='img/textil.jpg') }}">
<img src="{{ url_for('static', filename='img/campus.jpg') }}">
<img src="{{ url_for('static', filename='img/textil.jpg') }}">

</div>

</section>

</main>

{% endblock %}