{% extends 'base.html' %}

{% block title %}Informática para Internet{% endblock %}

{% block content %}

<a href="/cursos" class="btn-voltar">← Voltar para cursos</a>

<link rel="stylesheet" href="{{ url_for('static', filename='css/informatica.css') }}">

</style>

<main class="pagina-curso">

<section class="hero">

<h1>Informática para Internet</h1>

<p>
Programação, tecnologia, inovação e experiências práticas.
</p>

</section>

<section class="bloco">

<h2>Sobre</h2>

<p>
Curso focado em desenvolvimento web, programação,
banco de dados e redes.
</p>

<div class="info">

<div class="caixa">
<h3>Carga Horária</h3>
3995h
</div>

<div class="caixa">
<h3>Área</h3>
Tecnologia
</div>

<div class="caixa">
<h3>Atuação</h3>
Empresas e startups
</div>

</div>

</section>

<section class="bloco">

<h2>Vídeo do Curso</h2>

<iframe
src="https://www.youtube.com/embed/G9bF0FfPbLc"
title="Vídeo do Curso Informática"
frameborder="0"
allowfullscreen>
</iframe> 

</section>

<section class="bloco">

<h2>Galeria</h2>

<div class="galeria">

<img src="{{ url_for('static', filename='img/Info.jpg') }}">
<img src="{{ url_for('static', filename='img/campus.jpg') }}">
<img src="{{ url_for('static', filename='img/Info.jpg') }}">

</div>

</section>

<section class="bloco">

<h2>O que você aprende?</h2>

<ul>
<li>Programação</li>
<li>Banco de dados</li>
<li>Sites</li>
<li>Projetos reais</li>
</ul>

</section>

</main>

{% endblock %}