{% extends 'base.html' %}

{% block title %}Eletrotécnica{% endblock %}

{% block content %}
<a href="/cursos" class="btn-voltar">← Voltar para cursos</a>

<link rel="stylesheet" href="{{ url_for('static', filename='css/eletrotecnica.css') }}">



<main class="pagina-curso">

<section class="hero">

<h1>Eletrotécnica</h1>

<p>
Eletricidade, automação e inovação.
</p>

</section>

<section class="bloco">

<h2>Sobre</h2>

<p>
Curso voltado para eletricidade, automação e sistemas industriais.
</p>

</section>

<section class="bloco">

<h2>Vídeo</h2>

<iframe
src="https://youtu.be/AzZo_k2J3mA"
allowfullscreen>
</iframe>

</section>

<section class="bloco">

<div class="galeria">

<img src="{{ url_for('static', filename='img/eletro.jpg') }}">
<img src="{{ url_for('static', filename='img/campus.jpg') }}">
<img src="{{ url_for('static', filename='img/eletro.jpg') }}">

</div>

</section>

</main>

{% endblock %}